@using eCollabro.Client.Models.Content;
@using eCollabro.Client.Models.Core;
@using eCollabro.Web.Base;
@using eCollabro.Common;
@model ContentPageCategoryModel
@{
    List<PermissionEnum> userPermissions = (List<PermissionEnum>)ViewBag.UserPermissions;
    bool canEdit = userPermissions.Contains(PermissionEnum.EditContent);
    bool canDelete = userPermissions.Contains(PermissionEnum.DeleteContent);
    bool canAdd = userPermissions.Contains(PermissionEnum.AddContent);

    List<PageButton> pageButtons = new List<PageButton>();
    pageButtons.Add(new PageButton { Id = "btnRefresh",CssClass="btn btn-warning", ButtonText = "Refresh", Icon = "refresh", Method = "loadContentPageCategories()" });
    if (canAdd)
    {
        pageButtons.Add(new PageButton { Id = "btnAdd", CssClass="btn btn-success", ButtonText = "Add New Category", Icon = "plus", Method = "openContentPageCategory(0)" });
    }
}
@Scripts.Render("~/bundles/contentpage")
<div id="placeHolderContentPageCategories"></div>
<div id="divContentPageCategories" ng-controller="contentPageCategoriesController" ng-init="initialize('@canAdd','@canEdit','@canDelete')">
    @Html.Partial("_PageHeader", new PageHeaderModel { ViewId = "ContentPageCategories", PageTitle = "Page Categories", PageButtons = pageButtons })
    <table style="width:100%" class="table table-striped table-bordered" id="tblContentPageCategories" cellspacing="0">
        <thead>
            <tr>
                @if (canAdd || canEdit || canDelete) // Contributor
                {
                    <th>Id #</th>
                    <th style="width:350px">Category</th>
                    <th>Active</th>
                    <th>Action</th>
                }
                else
                {
                    <th style="width:80%">Category</th>
                    <th>Action</th>
                }
            </tr>
        </thead>
    </table>
</div>
