<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="32" maxstringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISecurityService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ISecurityService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49849/SecurityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService" />
            <endpoint address="http://localhost:49849/SecurityService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityService"
                contract="SecurityService.ISecurityService" name="BasicHttpBinding_ISecurityService1" />
            <endpoint address="http://localhost:49849/SecurityService.svc/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISecurityService"
                contract="SecurityService.ISecurityService" name="WSHttpBinding_ISecurityService">
                <identity>
                    <userPrincipalName value="asaini1@vserv-it.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>