@using eCollabro.Client.Models.Content;
@using eCollabro.Client.Models.Core;
@using eCollabro.Web.Base;
@using eCollabro.Common;
@model AnnouncementModel
@{
    List<PermissionEnum> userPermissions = (List<PermissionEnum>)ViewBag.UserPermissions;
    bool canEdit = userPermissions.Contains(PermissionEnum.EditContent);
    bool canDelete = userPermissions.Contains(PermissionEnum.DeleteContent);
    bool canAdd = userPermissions.Contains(PermissionEnum.AddContent);
}
@Scripts.Render("~/bundles/announcement")
<div id="placeHolderAnnouncements"></div>
<div id="divAnnouncements" ng-controller="announcementsController" ng-init="initialize('@canAdd','@canEdit','@canDelete')">
    @{
        List<PageButton> pageButtons = new List<PageButton>();
        pageButtons.Add(new PageButton { Id = "btnRefresh", CssClass="btn btn-warning", ButtonText = "Refresh", Icon = "refresh", Method = "loadAnnouncements()" });
        if (canAdd)
        {
            pageButtons.Add(new PageButton { Id = "btnAdd",CssClass="btn btn-success", ButtonText = "Add Announcement", Icon = "plus", Method = "openAnnouncement(0)" });
        }
    }
    @Html.Partial("_PageHeader", new PageHeaderModel { ViewId = "Announcements", PageTitle = "Announcements", PageButtons = pageButtons })
    <table style="width:100%" class="table table-striped table-bordered" id="tblAnnouncements" cellspacing="0">
        <thead>
            <tr>
                @if (canAdd || canEdit || canDelete) // Contributor
                {
                    <th>Id #</th>
                    <th style="width:400px">Title</th>
                    <th>Active</th>
                    <th>Action</th>
                }
                else
                {
                    <th>Title</th>
                }
            </tr>
        </thead>
    </table>
</div>
