@using eCollabro.Client.Models.Content;
@using eCollabro.Client.Models.Core;
@using eCollabro.Web.Base;
@model AnnouncementModel
@Scripts.Render("~/bundles/announcement")
<div id="divAnnouncementHome" ng-controller="announcementHomeController" ng-init="initialize()">
    @Html.Partial("_PageHeader", new PageHeaderModel { ViewId = "AnnouncementHome", PageTitle = "Announcements" })
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Recent Announcements <span class="badge">{{recentAnnouncements.length}}</span></div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="announcement in recentAnnouncements">
                        <h4 class="list-group-item-heading"><a href="/content/announcement/announcement/{{announcement.AnnouncementId}}">{{announcement.AnnouncementTitle}}</a></h4>
                        <p class="list-group-item-text"> {{announcement.AnnouncementDescription}}</p>
                    </li>
                </ul>
                <div ng-show="recentAnnouncements.length==0" class="text-info">There are no records to show.</div>
            </div>
        </div>
</div>
