@using Kendo.Mvc.UI;
@using eCollabro.Client.Models.Workflow;
@using eCollabro.Client.Models.Core;
@using eCollabro.Client.Resources;
@using eCollabro.Web.Base;
@model UserTaskModel

<script type="text/javascript" src="~/Areas/eCollabro.Web.Collaborate/ViewScripts/UserTask/ManageUserTask.js"></script>
<script type="text/javascript" src="~/Areas/eCollabro.Web.Collaborate/ViewScripts/UserTask/ManageUserTasks.js"></script>
<div id="placeHolderUserTasks"></div>
<div id="divUserTasks" ng-controller="UserTasksController" ng-init="LoadUserTasks()">
    @{
        List<PageHeaderButton> pageHeaderButtons = new List<PageHeaderButton>();
        pageHeaderButtons.Add(new PageHeaderButton { Id = "btnRefresh", ButtonText = "Refresh", Icon = "refresh", Method = "LoadUserTasks()" });
    }
    @Html.Partial("_PageHeader", new PageHeaderModel { ViewId = "UserTasks", PageTitle = "Task List", PageHeaderButtons = pageHeaderButtons })
    <table style="width:100%" class="table table-striped table-bordered" id="tblUserTasks" cellspacing="0">
        <thead>
            <tr>
                <th>Id #</th>
                <th>Title</th>
                <th>Active</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
